## Name: Adwaiy Singh
## Reg No.: 220968424
## Class: DSE-A
## Batch: A2

# Week 1

### Create Python program to find the average of 10 numbers using while loop

In [2]:
i = 1
sum = 0

while (i <= 10):
    x = int(input("Enter number: "))
    sum += x
    i += 1
    
print("Average of the 10 numbers is",sum/10);

Enter number: 1
Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 6
Enter number: 7
Enter number: 8
Enter number: 9
Enter number: 10
Average of the 10 numbers is 5.5

### Create Python program to find the geometric mean of n numbers

In [3]:
n = int(input("Enter total numbers: "))
prod = 1
temp = n

while (temp > 0):
    prod *= int(input("Enter num: "))
    temp -= 1
    
print("Geometric mean of n numbers is",prod**(1/n))

Enter total numbers: 4
Enter num: 2
Enter num: 5
Enter num: 7
Enter num: 9
Geometric mean of n numbers is 5.009970139234591

### Create Python program to check whether the given integer is a prime number or not

In [4]:
n = int(input("Enter num: "))
isPrime = True

for i in range (2, (int)(n/2)):
    if n%i == 0:
        isPrime = False
        break
        
if isPrime:
    print(n, "is a prime number")
else:
    print(n,"is not a prime number")

Enter num: 7
7 is a prime number

### Create Python program to implement linear search and implement binary search

In [5]:
n = int(input("Enter array length: "))
arr = []
for i in range(n):
    arr.append(int(input("Enter array element: ")))

num = int(input("Enter element to search: "))

# linear search
for i in range(n):
    if arr[i] == num:
        print("Element", num, "found using linear search at", i);
        break
else:
    print("Element not found")
    
print()

#binary search
start = 0
end = n

while (start <= end):
    mid = int(end - (end-start)/2)
    if arr[mid] == num:
        print("Element", num, "found using binary search at", mid);
        break
    elif arr[mid] < num:
        start = mid+1;
    else:
        end = mid-1;
else:
    print("Element not found")

Enter array length: 5
Enter array element: 3
Enter array element: 7
Enter array element: 6
Enter array element: 5
Enter array element: 8
Enter element to search: 2
Element not found

Element not found

### Using math package, Create Python program to find the area of a triangle whose sides are given

In [6]:
import math as m

a = int(input("Enter 1st side length: "))
b = int(input("Enter 2nd side length: "))
c = int(input("Enter 3rd side length: "))
s = (a+b+c)/2

print("Area of triangle is",m.sqrt(s*(s-a)*(s-b)*(s-c)))

Enter 1st side length: 3
Enter 2nd side length: 5
Enter 3rd side length: 7
Area of triangle is 6.49519052838329

# EXERCISE 1: - Introduction to Panda
## Data frame creation and manipulation

### Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

In [1]:
import pandas as pd

sample = {
    "roll_no": [1,2,3,4,5,6,7,8,9,10],
    "name": ["A","B","C","D","E","F","G","H","I","J"],
    "gender": ["F", "M", "M", "M", "F", "M", "G", "M", "F", "M"],
    "marks1": [88,90,75,92,82,89,96,90,81,86],
    "marks2": [98,94,78,84,79,91,93,95,87,96],
    "marks3": [91,91,83,91,98,92,91,96,86,97]
}

df = pd.DataFrame(sample)

#### 2. Create a new column with total marks

In [2]:
df['total'] = df['marks1'] + df['marks2'] + df['marks3']


#### 3. Find the lowest marks in Marks1

In [3]:
df['marks1'].min()

75


#### 4. Find the Highest marks in Marks2

In [4]:
df['marks2'].max()

98


#### 5. Find the average marks in Marks3

In [5]:
df['marks3'].mean()

91.6


#### 6. Find student name with highest average

In [7]:
df['name'][df['total'].idxmax()]

'H'


#### 7. Find how many students failed in Marks2 (<40)

In [34]:
df[df['marks2'] < 40].count()

roll_no    0
name       0
gender     0
marks1     0
marks2     0
marks3     0
total      0
dtype: int64